<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center" style="color:white ;">
    <img src="https://cdn.pixabay.com/photo/2018/01/04/15/51/404-error-3060993_640.png" style="width : 60% ; height:30%"  >
        <h1 class="display-1 fw-bold mt-3" >404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
        <p class="lead">
            The page you’re looking for doesn’t exist.
        </p>
        <a routerLink="/home" class="btn btn-outline-light my-2 mx-2  mt-4">Go Home</a>
    </div>
</div>