<!-- <div class="row movie-ticket">
  <div class="container-fluid ">
    <div class="ui-item d-flex justify-content-center" style="display:block ; width:100%">
      <div class="ui-head" style="border: white; border-style: solid; width: 100%; height:70%; ">
        <div class="ui-trans clearfix " style="display:block; border-radius: 2%; width: 90%; background-color: rgba(255, 0, 0, 0); ">
          <div class="container-fluid card-img-top"> <img src="{{ imagePath + selectedmovie.poster_path }}"
              class="card-img-top my-3" style="width: 30%;height: 50%; border-radius: 2%;" alt="..." /> </div>
        </div>
        <div class="ui-details my-3 mx-3" style="color: white; font-size: medium;">
          <h2 style="font-weight: bolder; font-size: larger;"> {{ selectedmovie?.title }} </h2>
          <p> {{ selectedmovie?.overview }} </p> <button class="btn btn-danger" type="button">Watch</button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="ui-item d-flex justify-content-center" style="display:block ; width:70% ; height:25%">
  <div class="ui-head" style="border: white; border-style: solid; width: 100%; height:50%; ">
    <div class="ui-trans clearfix "
      style="display:block; border-radius: 2%; width: 90%; background-color: rgba(255, 0, 0, 0); ">
      <div class="container-fluid card-img-top"> <img src="{{ imagePath + selectedmovie.poster_path }}"
          class="card-img-top my-3" style="width: 30%;height: 50%; border-radius: 2%;" alt="..." /> </div>
    </div>
    <div class="ui-details my-3 mx-3" style="color: white; font-size: medium;">
      <h2 style="font-weight: bolder; font-size: larger;"> {{ selectedmovie?.title }} </h2>
      <p> {{ selectedmovie?.overview }} </p> <button class="btn btn-danger" type="button">Watch</button>
    </div>
  </div>
</div> -->

<div class="ui-item d-flex justify-content-center">
  <div class="ui-head" style="border: white; border-style: solid; width: 70%; ">
    <div class="ui-trans clearfix " style="border-radius: 2%; width: 90%; background-color: rgba(255, 0, 0, 0); ">
      <div class="container-fluid card-img-top"> <img src="{{ imagePath + selectedmovie.poster_path }}"
          class="card-img-top my-3" style="width: 30%;height: 50%; border-radius: 2%;" alt="..." /> </div>
    </div>
    <div class="ui-details my-3 mx-3" style="color: white; font-size: medium;">
      <h2 style="font-weight: bolder; font-size: larger;"> {{ selectedmovie?.title }} </h2>
      <p> {{ selectedmovie?.overview }} </p> <button class="btn btn-danger" type="button">Watch</button>
    </div>
  </div>
</div>
